{% include 'cpp_tutor/header.html' %}
{% load static %}
<div class="filter" style="margin-top: 0">
    <div class="img-filter"
         style="background-image: url({% static "cpp_tutor/images/index_main_image.jfif" %});
                 height: calc(100vh - 90px);"></div>
    <div class="filter-container" style="height: calc(100vh - 90px); display: flex; padding: 0;">
        <div class="center">
            <div class="text-container"><h1 id="main-h">Обучение C++</h1></div>
            <div class="adaptive-block-3-container" style="width: 70%">
                <div class="text-container"><p style="font-size: 30px;">Онлайн</p>
                    <p>Обучение происходит прямо в браузере. Вам не требуется устанавливать дополнительно ПО</p></div>
                <div class="text-container"><p style="font-size: 30px;">Бесплатно</p>
                    <p>Все обучение абсолютно бесплатно</p></div>
                <div class="text-container"><p style="font-size: 30px;">Просто</p>
                    <p>Понятный теоретический материал позволит просто освоить такой сложный язык программирования, как
                        C++</p></div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="width: fit-content">
    <div class="title-1">По итогам курса вы узнаете про:</div>
    <div class="adaptive-block-4-container">
        <div class="adaptive-block-4">
            Потоковый ввод-вывод
            <p><span class="text-blue">cin-cout</span></p>
        </div>
        <div class="adaptive-block-4">
            Условия
            <p><span class="text-blue">if</span></p>
        </div>
        <div class="adaptive-block-4">
            Вектора
            <p><span class="text-blue">vector</span></p>
        </div>
        <div class="adaptive-block-4">
            Строки
            <p><span class="text-blue">string</span></p>
        </div>
        <div class="adaptive-block-4">
            Функции
            <p><span class="text-blue">function</span></p>
        </div>
        <div class="adaptive-block-4">
            Циклы
            <p><span class="text-blue">for while</span></p>
        </div>
        <div class="adaptive-block-4">
            Множества
            <p><span class="text-blue">set</span></p>
        </div>
        <div class="adaptive-block-4">
            Словари
            <p><span class="text-blue">map</span></p>
        </div>
    </div>
</div>

<div class="filter">
    <div class="img-filter" style="background-image: url({% static "cpp_tutor/images/main1.jpg" %})"></div>

    <div class="filter-container">
        <h1>C++ - один из самых востребованных языков программирования</h1>
        <div class="adaptive-block-3-container">
            <div class="adaptive-block-3">
                <p>Он используется для написания программ, игр, как основной язык на практически всех олимпиадах</p>
            </div>
            <div class="adaptive-block-3">
                <p>C++ полезен в качестве основы для обучения. Множество языков программирования содержат в основе
                    C++.</p>
            </div>
            <div class="adaptive-block-3">
                <p>C++ используется в микроконтроллерах, IoT, роботах, десктопных и мобильных приложениях, вебе, играх,
                    системах моделирования, прогнозирования, обработки статистики и в нейронных сетях. Везде.</p>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="title-1">Готовы начать учить C++ прямо сейчас?</div>
    <a href="/themes" class="btn">Начать</a>
</div>
{% include 'cpp_tutor/footer.html' %}