{% include 'cpp_tutor/header.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "cpp_tutor/redactor.css" %}">
<body>
<div class="tasks-container">
    <div id="id-task" style="display: none">{{ task.id }}</div>
    <div class="tasks-menu-container">
        {% include "cpp_tutor/tasks_menu.html" %}
    </div>
    <div class="redactor-container">
        <pre id="text"></pre>
        <h1 id="task-name">{{ task.name }}</h1>
        <p id="task-text">{{ task.text }}</p>
        <div class="pre-tests">
            <h4>Примеры:</h4>
            {% for pretest in pretests %}
                <div class="pre-test">
                    <div class="test-in-out-block"><p>Ввод:</p>
                        <pre class="test-in-out-text">{{ pretest.in }}</pre>
                    </div>
                    <div class="test-in-out-block"><p>Вывод:</p>
                        <pre class="test-in-out-text">{{ pretest.out }}</pre>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="editor">
            <div id="textarea-container" style="width: 0; height: 0"><textarea id="input"></textarea></div>
            <div id="cursor"></div>
            <div id="lines"></div>
        </div>
        <div class="editor-btns">
            {% if login %}
                <div id="start-btn" class="editor-btn btn">Запустить</div>
                <div id="start-testing-btn" class="editor-btn btn">Проверить</div>
            {% else %}
                <p style="color: white">Для отправки решений необходимо войти в аккаунт</p>
            {% endif %}
        </div>

        <script src="{% static "cpp_tutor/redactor.js" %}"></script>
        <div id="question-answer">
            <input type="radio" name="switch-input" id="input-check" class="check" checked>
            <input type="radio" name="switch-input" id="output-check" class="check">
            <label for="input-check" class="in-out-btn" id="in-btn">input</label>
            <label for="output-check" class="in-out-btn" id="out-btn">output</label>

            <textarea id="input-block"></textarea>
            <textarea id="output" readonly></textarea>
        </div>
        <div id="testing-system-answer">
        <div class="verdicts-title"><p style="font-weight: 700">Посылки</p></div>
        {% if verdicts %}
            {% for verdict in verdicts %}
                <div class="verdict">
                    <div class="answer">
                        {% if verdict.answer == 'ok' %}
                            <p style="color: green">{{ verdict.answer }}</p>
                        {% else %}
                            <p>{{ verdict.answer }}</p>
                        {% endif %}

                    </div>
                    <input type="checkbox" class="check" id="check-results-{{ forloop.counter }}">
                    <label class="text-btn" for="check-results-{{ forloop.counter }}"><p>Подробнее...</p></label>
                    <div class="black-background"></div>
                    <div class="results" id="results-{{ forloop.counter }}">
                        <p>Код программы:</p>
                        <pre>
                            {{ verdict.code }}
                        </pre>
                        {% if verdict.answer != 'ok' %}
                            <p>Ввод</p>
                            <pre>{{ verdict.input }}</pre>
                            <p>Корректный вывод</p>
                            <pre>{{ verdict.correct }}</pre>
                            <p>Вывод программы</p>
                            <pre>{{ verdict.output }}</pre>
                        {% endif %}
                        <label class="text-btn" for="check-results-{{ forloop.counter }}">Закрыть</label>
                    </div>
                <style>
                    #check-results-{{ forloop.counter }}:checked ~ #results-{{ forloop.counter }}{
                        display: block;
                    }
                    #check-results-{{ forloop.counter }}:checked ~ .black-background{
                        display: block;
                    }
                </style>
                </div>
            {% endfor %}
        {% else %}
            <p>Вы пока еще не отправляли решения этой задачи на проверку</p>
        {% endif %}
        </div>
    </div>
    <div></div>
</div>
</body>
{% include 'cpp_tutor/footer.html' %}