{% include 'cpp_tutor/header.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "cpp_tutor/redactor.css" %}">
<body>
    <div class="tasks-container">
        <div class="tasks-menu-container">
            {% include "cpp_tutor/tasks_menu.html" %}
        </div>
        <div class="redactor-container">
            <h1 id="task-name">{{ task.name }}</h1>
            <pre id="task-text">{{ task.text }}</pre>
            <div class="pre-tests">
                {% for pretest in pretests %}
                    <div class="pre-test">
                        <div class="test-in-out-block"><pre class="test-in-out-text">{{ pretest.in }}</pre></div>
                        <div class="test-in-out-block"><pre class="test-in-out-text">{{ pretest.out }}</pre></div>
                    </div>
                {% endfor %}
            </div>
            <div id="editor">
                <div id="cursor"></div>
                <div id="lines"></div>
            </div>
            <div id="textarea-container"><textarea id="input"></textarea></div>
            <div id="start-btn">Запустить</div>
            <script src="{% static "cpp_tutor/redactor.js" %}"></script>
            <div id="question-answer">
                <input type="radio" name="switch-input" id="input-check" class="check" checked>
                <input type="radio" name="switch-input" id="output-check" class="check">
                <label for="input-check"></label>
                <label for="output-check"></label>
                <textarea id="input-block"></textarea>
                <textarea id="output"></textarea>
            </div>
        </div>
        <div></div>
    </div>
</body>
{% include 'cpp_tutor/footer.html' %}