{% include "cpp_tutor/header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "cpp_tutor/redactor.css" %}">
<body>
    <div class="tasks-container">
        <div class="tasks-menu-container">
            {% include "cpp_tutor/tasks_menu.html" %}
        </div>
        <div class="redactor-container">
            <div class="theme-theory-container">
                <h1>{{ theme.name }}</h1>
                <pre>{{ theme.theory }}</pre>
            </div>
        </div>
        <div></div>
    </div>
</body>
{% include "cpp_tutor/footer.html" %}